<link id="fa-stylesheet" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.0/css/all.min.css">

<footer class="site-footer h-card">
  <data class="u-url" value="{{ '/' | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <ul class="contact-list">
            <li class="p-name" style="text-align: right;">{{ site.description | escape }}</li>
            <li style="text-align: right;">
                <a class="icon-link" href="https://github.com/antoniownunes">
                    <i class="fa-brands fa-github"></i>
                    antoniownunes
                </a> | 
                <a class="icon-link" href="https://www.linkedin.com/in/antoniownunes/">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a class="icon-link" href="https://www.researchgate.net/profile/Antonio-Nunes-28">
                    <i class="fa-brands fa-researchgate"></i>
                </a>
                <a class="icon-link" href="https://scholar.google.com/citations?hl=en-US&user=ow1oYLYAAAAJ">
                    <i class="fa-brands fa-google-scholar"></i>
                </a>
                <a class="icon-link" href="https://orcid.org/0009-0003-7470-3163">
                    <i class="fa-brands fa-orcid"></i>
                </a>
                <a class="u-email" href="https://www.scopus.com/authid/detail.uri?authorId=60102441100">
                    <svg class="icon" viewBox="0 0 24 24">
                      {% include icons/scopus.svg %}
                    </svg>
                </a>
                <a class="u-email" href="https://www.cienciavitae.pt//en/241C-DDAB-BC7F">
                    <svg class="icon" viewBox="0 0 24 24">
                      {% include icons/cienciavitae.svg %}
                    </svg>
                </a>
            </li>
        </ul>
      </div>
    </div>
    <div>
        <p style="text-align: center;">Last updated on {{ site.time | date: "%Y-%m-%d" }}</p>
    </div>
  </div>

</footer>


<style>
.icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
  vertical-align: -0.15em;
}

.icon-link{
    display: inline-flex;
    align-items: center;
}
</style>